
<%- include('header') %>

<div style="margin: 40px 3px 20px 0; ">
  <b><h2>Munkák</b>
  <button class="button button_new" onclick="location.href=`/jobs/new`">Új munka felvétele</button></h2>
</div>

<div style="font-size: larger;">
  <ul>

    <% jobs.forEach(function(job){ %>
      <li><%= job.name %> <a href='/job/<%=job.id%>'> Részletek</a> </li>
  
      <%});%>

  </ul>
</div>





</body>
</html>
